.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


div, button {
  margin: 10px;
  padding:0px,0px,0px,0px;
}
/**************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background-color: #fafafa;
}
ol, ul {
  list-style: none;

}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  /*background-color: #212121;*/
}

p, h1, h2, h3, h4, h5, h6 {
  /*color: #BDBDBD;*/
  font-family: 'Mali', cursive;
}

#loginurl {
  display: inline;
  margin: 0 1em 0 1em;
}

button {
  justify-content: center;
  align-items: center;
}

.activePage{
  text-decoration: underline !important;
}

.unactivePage{
  text-decoration: none;
}

.ListTrack{
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.LoginPage {
  height: 90vh; /* For 100% screen height */
  width:  100vw; /* For 100% screen width */
  position: relative;
    background-image: url("./img/markus-spiske-78530-unsplash.jpg");
  background-attachment: fixed;
  /*background: #ffffff url("./img/markus-spiske-78530-unsplash.jpg") no-repeat right top;*/

}
.LoginPageChild{
  margin: 0;
  position: absolute;               /* 2 */
  top: 50%;                         /* 3 */
  transform: translate(0, -50%)
}

.SearchPage{
  height: 90vh; /* For 100% screen height */
  width:  100vw; /* For 100% screen width */
  vertical-align: center;
  text-align: center;

}

.Page{
  height: 90vh;
  width:  100vw;
}

.AppBar{

}

.SearchGrid{
  vertical-align: center;
  text-align: center;

}

.ui.card {
  margin: 1em auto !important; /*Fix the grid centering problem*/
}


/*  WARNINGGGG
*   This code is making searchpage results smaller!!!!
*/

@media  (min-width: 768px)  {
  .ui.container {
    width: 900px !important;
  }
  .TrackProgress{
    width: 900px !important;
  }
}

textarea {  /*to make textarea responsive*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
}
/*
to fix some weird mobile errors on pc try
body{
  touch-action: none;
}*/


:root {
  --color-1: #EE7752;
  --color-2: #E73C7E;
  --color-3: #23A6D5;
  --color-4: #23D5AB;
}

/*gradiant test*/
.animatedGradientBackground {
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, var(--color-1) ,var(--color-2) ,var(--color-3) ,var(--color-4) );
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  position: fixed;
  /*overflow-y:scroll;
  overflow-x:hidden;*/

}



.paused {
  -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
  animation-play-state: paused;
}


@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.scroll{
  overflow-y:scroll;
  overflow-x:hidden;
}

.noScroll{

}

.NowPlayingPage{
  height: 90vh;
  width:  100vw;
}